@import 'normalize.css';
@import 'skeleton.css';
@import '~mapbox-gl/dist/mapbox-gl.css';
// @import url('https://fonts.googleapis.comß/css?family=Roboto%7CRoboto+Mono&display=swap');
// $title: 'Roboto', sans-serif;
// $text: 'Roboto Mono', monospace;

* {
  box-sizing: border-box;
}
.mapMarker {
  width: 5px;
  height: 5px
}

img {
  width: 100px;
}

.mapMarker {
  width: 5px;
  height: 5px
}

.map {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  top: -25px;

}

.marker {
  background-size: cover;
  width: 15px;
  height: 50px;
  cursor: pointer;
}

#newEvent{
    border-radius: 5px;
    text-align: left;
    padding: 70px;
    border: solid 1px;
    border-color: #DCDCDC;
    box-shadow: 2px 5px 20px #483D8B;
  }

#registerForm {
  border-radius: 5px;
  text-align: left;
  padding: 70px;
  border: solid 1px;
  border-color: #DCDCDC;
  box-shadow: 2px 5px 20px #483D8B;
  width: 80%;
  margin: 10px auto;
}

#loginForm {
  border-radius: 5px;
  text-align: left;
  padding: 70px;
  border: solid 1px;
  border-color: #DCDCDC;
  box-shadow: 2px 5px 20px #483D8B;
  width: 80%;
  margin: 10px auto;
}
.u-full-width {
    height: 40px;
}
.frontSection{
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 100%
}
.containerFront {
  width: 100%;
  margin: 40px;
  flex-direction: column-reverse;
  align-content: center;
}
.eachCard{
border: solid red;
width: 250px;
height: 300px;
padding: 30px 20px;
margin: 20px;
border-radius: 20%;
display: flex;
flex-wrap: wrap;
border: solid 1px;
box-shadow: 2px 5px 20px #483D8B;
}
.eachCard, h3{
  color:#483D8B;
  font-size: 18px;
}
html {
  box-sizing: border-box;
  background: white;
  font-family: 'helvetica neue';
}
#eventDescription {
  height: 300px;
}
body {
  margin: 0;
  color: #373737;
}
.button {
  border: solid 1px #483D8B;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.panels {
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}
.panel {
  background: #6B0F9C;
  box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
  color: white;
  text-align: center;
  align-items: center;
  /* Safari transitionend event.propertyName === flex */
  /* Chrome + FF transitionend event.propertyName === flex-grow */
  transition:
    font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
    background 0.2s;
  font-size: 20px;
  background-size: cover;
  background-position: center;
  flex: 1;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.panel1 { background-image:url(https://images.pexels.com/photos/1587646/pexels-photo-1587646.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500); }

.panel3 { background-image:url(https://images.pexels.com/photos/1855269/pexels-photo-1855269.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500); }

.panel5 { background-image:url(https://images.pexels.com/photos/1267693/pexels-photo-1267693.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500); }
/* Flex Children */


.panel > * {
  margin: 0;
  width: 100%;
  transition: transform 0.5s;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel > *:first-child { transform: translateY(-100%); }
.panel.open-active > *:first-child { transform: translateY(0); }
.panel > *:last-child { transform: translateY(100%); }
.panel.open-active > *:last-child { transform: translateY(0); }
.panel p {
  text-transform: uppercase;
  font-family: 'Amatic SC', cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
  font-size: 2em;
}

.panel p:nth-child(2) {
  font-size: 4em;
}
.panel.open {
  font-size: 40px;
  flex: 5;
}


.invited {
  display: none;
}

// userProfileMain

#userProfileMain {
  border-radius: 5px;
  text-align: left;
  padding: 70px;
  border: solid 1px;
  border-color: #DCDCDC;
  box-shadow: 2px 5px 20px #483D8B;
  width: 80%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;

}

.userPicture {
   border-radius: 100%;
   height: 100px;
   transform:scale(1.005);
   box-shadow: 2px 5px 20px #483D8B;
}

.userPicture:hover {
   transform:scale(1.07);
}

div.userBio {
  width: 870px;
  margin: 30px 0px 30px 30px;
  border: solid 1px #483D8B;
  padding: 10px;
  border-radius: 5px;
   text-align: justify;
}

.messanger {
  // border: solid 1px #483D8B;
  border-radius: 5px;
  text-align: center;
    align-items: center;


}

p, {
    margin-bottom: 1rem;
}

.commentSection {
  width: 1000%;
  // border-style: solid  2px;
  border-color: #483D8B;
  // border-radius: 5px;
  border-top: solid 1px #483D8B;
  padding: 10px;
  height: 300px;
}

.userEventCards div {
  width: 150px;
  height: 200px;
  padding: 30px 20px;
  margin: 20px;
  border-radius: 20%;
  display: flex;
  flex-wrap: wrap;
  border: solid 1px;
  box-shadow: 2px 5px 20px #483D8B;
  margin-top: 80px;

}

textarea.userCommentSection {

width: 800px;

}
