@import 'normalize.css';
@import 'skeleton.css';

@import '~mapbox-gl/dist/mapbox-gl.css';

.mapMarker {
  width: 5px;
  height: 5px
}

.marker {
  background-size: contain;

  cursor: pointer;
}

img {
  width: 100px;
}

.mapMarker {
  width: 5px;
  height: 5px
}

.map {
  width: 800px;
  height: 800px;
  margin: 0 auto;
  top: -25px;

}
